FIREBASE_KEY_PATH=path/to/serviceAccountKey.json

SECRET_KEY=your_flask_secret_key_here

CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

PAYMONGO_PUBLIC_KEY=your_paymongo_public_key_here
PAYMONGO_SECRET_KEY=your_paymongo_secret_key_here