flask==3.1.3
flask-wtf
flask-talisman
flask-limiter==4.1.1
firebase==4.0.1
firebase-admin==7.1.0
google-cloud-firestore==2.23.0
google-genai
cloudinary==1.44.1
python-dotenv==1.2.2
requests==2.34.2
webauthn
pyngrok
resend
gunicorn